@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei",
      -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
  }
}

@layer utilities {
  /* 全局覆盖 HeroUI 圆角 */
  * {
    --heroui-radius-small: 2px !important;
    --heroui-radius-medium: 3px !important;
    --heroui-radius-large: 4px !important;
  }
}
